<ion-header>
  <ion-toolbar>
    <ion-title>
      Memes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-slides>
    <ion-slide style="height:100%" *ngFor="let img of images">
        <ion-card color="light">
          <ion-card-title style="text-align:center;padding-top:0px">
            <ion-img [src]="img.imgPath"></ion-img>
            <ion-item lines="none">
              <ion-icon (click)="like(img.id)" *ngIf="img.likes === 0" color="primary" slot="start" style="zoom:1.5;padding-top:0px" name="heart-empty"></ion-icon><p slot="end" *ngIf="img.likes === 0" style="padding-left:0px;">0 likes</p>
              <ion-icon (click)="like(img.id)" *ngIf="img.likes === 1" color="primary" slot="start" style="zoom:1.5;padding-top:0px" name="heart"></ion-icon><p slot="end" *ngIf="img.likes === 1" style="padding-left:0px;">1 like</p>
              <ion-icon (click)="like(img.id)" *ngIf="img.likes > 1" color="primary" slot="start" style="zoom:1.5;padding-top:0px" name="heart"></ion-icon><p slot="end" *ngIf="img.likes > 1" style="padding-left:0px;">{{img.likes}} likes</p>
            </ion-item>
          </ion-card-title>
          <ion-item lines="none">
            <ion-textarea rows={6} cols={20} *ngIf="img.comments?.length === 0" [(ngModel)]="comment" placeholder="Add comment" clear-on-edit="true"></ion-textarea>
            <a slot="end" (click)="presentModal(img.id)" *ngIf="img.comments?.length > 1">{{img.comments.length}} Comments</a>
            <a slot="end" (click)="presentModal(img.id)" *ngIf="img.comments?.length === 1">{{img.comments.length}} Comment</a>
            <ion-button *ngIf="img.comments?.length === 0" (click)="send(img.id,comment)" size="small" shape="round" fill="outline" slot="end" expand="full" color="primary">send</ion-button>
          </ion-item>
        </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
